<ng-transclude></ng-transclude>
<div style="height: 250px; overflow: auto;"
     id="orka-feature-list-container">
    <div ng-repeat="(type, features) in featureGroups">
        <h4 ng-click="$parent.showGroup=$parent.showGroup === type ? false : type;">
            {{ typeMap[type] }}
        </h4>
        <div id="feature_{{ feature.get('num') }}"
             ng-show="$parent.showGroup === type"
             ng-repeat="feature in features"
             ng-click="toggleMarker(feature, $parent.$parent.showFeatureContent);">
            <h5 ng-click="$parent.$parent.showFeatureContent = $parent.$parent.showFeatureContent === feature.get('num') ? false : feature.get('num');">
                {{ feature.get('name') }}
            </h5>
            <div ng-show="$parent.$parent.showFeatureContent === feature.get('num')">
                <a ng-href="{{ feature.get('website') || '' }}">Homepage</a>
                <address>
                    {{ feature.get('street') || '' }} {{ feature.get('housenumber') || '' }}<br>
                    {{ feature.get('postal') || '' }} {{ feature.get('city') || '' }}
                </address>

                <!-- show properties defiend in config -->
            </div>
        </div>
    </div>
</div>