<div ng-show="popupVisible" class="orka-popup">
    <div class="orka-popup-nose left"></div>
    <div class="orka-popup-close">
        <span class="glyphicon glyphicon-remove"
              ng-click="popupVisible=false; popupClosed();">
        </span>
    </div>
    <div class="orka-popup-container">
        <div class="orka-popup-title">{{ feature.get('name') }}</div>
        <div class="orka-popup-content">
            <a ng-if="feature.get('website')" ng-href="{{ feature.get('website') | externalLink }}" target="_blank">Website</a>
        </div>
    </div>
</div>
