<div ng-repeat="poi in pois">
    <input type="checkbox" ng-model="poi.active" ng-change="togglePoiTopic(poi)"/>
    {{ poi.title }}
    <div ng-repeat="group in poi.groups" style="margin-left: 10px;">
        <input type="checkbox" ng-model="group.active" ng-change="updatePois(pois)"/>
        {{ group.title }}
    </div>
</div>
<div ng-repeat="track in tracks">
    <input type="checkbox" ng-model="track.active" ng-change="toggleTrackTopic(track)"/>
    {{ track.title }}
    <div ng-repeat="group in track.groups" style="margin-left: 10px;">
        <input type="checkbox" ng-model="group.active" ng-change="updateTracks(tracks)"/>
        {{ group.title }}
    </div>
</div>