<div class="anol-layerswitcher-toggle" ng-show="showToggle" ng-show="backgroundLayers.length > 1 || overlayLayers.length > 0">
    <span class="glyphicon" ng-class="{'glyphicon-chevron-left': collapsed, 'glyphicon-chevron-right': !collapsed}" ng-click="collapsed=!collapsed"></span>
</div>
<div class="anol-layerswitcher" ng-show="!collapsed">
    <div ng-show="backgroundLayers.length > 1">
        <h4>Background Layers</h4>
        <div ng-repeat="layer in backgroundLayers">
             <!-- double $parent cause ng-if and ng-repeat create own closed scopes -->
            <input type="radio" ng-model="$parent.$parent.backgroundLayer" ng-value="layer">
            {{ layer.get('title') }}
        </div>
    </div>
    <div ng-show="overlayLayers.length > 0">
        <h4>Overlay Layers</h4>
        <div ng-repeat="layer in overlayLayers">
            <span class="glyphicon"
                  ng-class="{'glyphicon-eye-open': layer.getVisible(), 'glyphicon-eye-close': !layer.getVisible()}"
                  ng-click="layer.setVisible(!layer.getVisible())">
            </span>
            {{ layer.get('title') }}
            <span ng-if="layer.get('isBackground') === true" class="glyphicon glyphicon-paperclip"></span>
        </div>
    </div>
    <ng-transclude></ng-transclude>
</div>