@font-face {
    font-family:'PT Sans';
    font-style:normal;
    font-weight:normal;
    local:'PT Sans';
    src:url(./fonts/PTS55F_W.ttf);
}

@font-face {
    font-family:'PT Sans';
    font-style:italic;
    font-weight:normal;
    local:'PT Sans Italic';
    src:url(./fonts/PTS56F_W.ttf);
}

@font-face {
    font-family:'PT Sans';
    font-style:normal;
    font-weight:bold;
    local:'PT Sans Bold';
    src:url(./fonts/PTS75F_W.ttf);
}

@font-face {
    font-family:'PT Sans';
    font-style:italic;
    font-weight:bold;
    local:'PT Sans Bold Italic';
    src:url(./fonts/PTS76F_W.ttf);
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'PT Sans','Verdana',sans-serif;
  color: #333333;
}

.header {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1002;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
    padding: 0 15px;
    border-radius: 0;
}

.main-content {
  height: 100%;
  padding: 0;
}

.fullscreen {
  margin-left: 0px;
  width: 100%;
}

.map-wrapper {
  display: inline-block;
  width: 100%;
  height: 500px;
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

label.no-style {
  display: auto;
  font-weight: normal;
  margin-bottom: 0px;
  max-width: none;
}

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  padding: 0;
  z-index: 1000;
}

.sidebar.show {
  z-index: 1000;
  border-right: 1px solid #ddd;
}

.sidebar.show .sideways.tabs-right {
  position: fixed;
  left: 16.6667%;
  width: 0px;
  margin-top: 50px;
}

@media (max-width: 979px) {
  .sidebar.show .sideways.tabs-right {
    left: 25%;
  }
}

@media (max-width: 767px) {
  .sidebar.show .sideways.tabs-right {
    left: 50%;
  }
}


.sidebar:not(.show) .sideways.tabs-right {
  position: relative;
  left: 0px;
  width: 0px;
}

.sidebar.show .nav {
  padding-right: 0px;
  padding-left: 0px;
}

.sideways {
  margin-top: 0;
}

.sideways > li {
  left: -28px;
}

.sideways > li > a {
  border-bottom: none;
}

.sidebar.show,
.sidebar.show .tab-content,
.sidebar.show .tab-content .tab-pane {
  height: 100%;
  background-color: white;
  max-height: 100%;
}

.tab-content > .tab-pane {
  padding: 10px;
}

/*
 * Vertical tabs
 */
.nav-tabs > li > a {
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  margin-right: 2px;
  margin-left: 2px;
  color: #000;
}
.nav-tabs > li > a:hover {
  background-color: rgba(224, 224, 224, 0.8);
  cursor: pointer;
  color: #000;
}

.nav-tabs > li.active > a {
  background-color: #fff;
  cursor: pointer;
  color: #000;
}

.nav-tabs > li.active > a:hover {
  background-color: #eee;
  cursor: pointer;
  color: #000;
}

/*
 * Feature list
 */

.orka-feature-list {
  overflow: auto;
  max-height: 90%;
  margin-top: 10px;
}

.list-group-item .list-group {
  margin: 0px -10px -15px -11px;
}

.list-group-item .list-group .list-group-item {
    border: medium none;
    margin-left: -4px;
    margin-right: -4px;
    padding: 0 20px;
}

.list-group-item .list-group .list-group-item:first-child,
.list-group-item .list-group .list-group-item:last-child {
  border-radius: 0px;
}

.list-group-item .list-group .list-group-item:last-child {
  margin-bottom: 10px;
}

.list-group-item .list-group .list-group-item .list-group-item-heading {
  margin-top: 0px;
}

.list-group-item .list-group .list-group-item .list-group-item-text {
  font-size: 12px;
}

.feature-content {
  padding-left: 10px;
}

.feature.highlight,
.list-group-item.highlight {
  background-color: #ffc;
}

.list-group-item .list-group .list-group-item .list-group-item-text:last-child {
  margin-bottom: 2px;
}

/*
 * Print content
 */
span.number-in-circle {
    background-color: #de0029;
    border-radius: 25%;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    height: 22px;
    text-align: center;
    width: 22px;
}
span.number-in-circle-first {
    background-color: #2b58a3;
    font-size: 22px;
    height: 32px;
    width: 32px;
}
span.print-headline {
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
}
span.print-headline-first {
    font-size: 16px;
    line-height: 30px;
}
div.print-headline-container {
    margin-top: 10px;
    margin-bottom: 10px;
}
div.print-headline-container-first {
    background-color: #f5ca8d;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 10px;
}
div.print-interheadline-container {
    margin-top: 10px;
}
select.output-format-select {
  width: 218px;
}
div.print-headline-container-last {
    background-color: #f5ca8d;
    border-radius: 6px;
    margin: 10px 0;
    padding: 10px;
}
.orka-print .form-group {
  margin-bottom: 0px;
}

.orka-print .alert-danger {
  margin-top: 5px;
}

/*
 * Map components
 */
.ol-zoomslider {
  left: 50px;
  top: 29px;
  width: 22px;
  border-radius: 0;
  padding-top: 22px;
  padding-bottom: 22px;
}

.ol-zoomslider .ol-zoomslider-thumb {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;

}

.ol-zoom,
.ol-zoom:hover {
  width: 22px;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  left: 50px;
  height: 200px;

}

.ol-zoom .ol-zoom-in {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px 5px 0px 0px;
  margin: 0;
  width: 22px;
  height: 22px;
}

.ol-zoom .ol-zoom-out {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0px 0px 5px 5px;
  margin: 0;
  margin-top: 200px;
  width: 22px;
  height: 22px;
}

.ol-mouse-position {
  top: auto;
  left: auto;
  bottom: 5px;
  right: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  font-size: 13px;
}

.ol-attribution:not(.ol-collapsed) {
  top: auto;
  left: auto;
  bottom: 40px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  height: auto;
  border-radius: 5px;
}

.ol-attribution ul {
  max-width: none;
}

.ol-attribution ul li div {
  font-size: 10px;
  line-height: 15px;
}

.ol-unselectable .anol-map-scale {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  bottom: 5px;
  left: 5px;
  position: absolute;
}

.ol-unselectable .orka-layerswitcher {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0px 25px 5px 5px;
  border-radius: 5px 0px 0px 5px;
  font-size: 14px;
  top: 5px;
  right: 0px;
  position: absolute;
  z-index: 1000;
  width: 265px;
}

.ol-unselectable .orka-layerswitcher-toggle {
  width: 20px;
  top: 7px;
  right: 0px;
  border-radius: 5px 0px 0px 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  text-align: center;
  z-index: 1001;
  cursor: pointer;
}

.ol-unselectable .orka-layerswitcher hr {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: -20px;
}

.orka-popup {
  background-color: #f5f5f5;
  padding: 8px;
  border-radius: 5px;
  min-width: 100px;
  max-width: 200px;
  border: 1px solid #d9d9d9;
}

.orka-popup .orka-popup-nose {
  background-color: #f0f0f0;
  border-left: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  height: 10px;
  width: 10px;
  transform: rotate(-45deg);
  position: absolute;
  content: "";
}

.orka-popup .orka-popup-nose.left {
  left: -5px;
}

.orka-popup .orka-popup-close {
  color: #b4b4b4;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.orka-popup .orka-popup-container {
  margin-right: 20px;
}

.orka-popup .orka-popup-container .orka-popup-title {
  font-weight: bold;
}

.orka-poi-legend-icon {
  width: 18px;
  height: 22px;
  opacity: 1;
}

.orka-track-legend-icon {
  width: 18px;
  height: 6px;
  opacity: 1;
}

.orka-poi-container {
  max-height: 180px;
}

.orka-tracks-container {
  max-height: 90px;
}

.orka-poi-container,
.orka-tracks-container {
  margin-right: -20px;
  overflow: auto;
}

.ol-unselectable .orka-legend {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0px 25px 5px 5px;
  border-radius: 5px 0px 0px 5px;
  font-size: 14px;
  bottom: 90px;
  right: 0px;
  position: absolute;
  z-index: 1000;
  width: 265px;
}

.ol-unselectable .orka-legend-toggle {
  width: 20px;
  border-radius: 5px 0px 0px 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  z-index: 1001;
  cursor: pointer;
}

.ol-unselectable .orka-legend-toggle.legend-hidden {
  bottom: 90px;
  right: 0px;
  position: absolute;
}

.ol-unselectable .orka-legend-toggle.legend-visible {
  position: absolute;
  right: 0;
  top: 3px;
}

.ol-unselectable .orka-legend .orka-poi-container {
  max-height: 120px;
  margin-top: 5px;
}

.ol-unselectable .orka-legend .orka-tracks-container {
  max-height: 60px;
}

