<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="Mecklenburg-Vorpommern,OpenStreetMap,ORKa.MV,Regionalkarte" />
    <meta name="description" content="Offene Regionalkarte Mecklenburg-Vorpommern (ORKa.MV) auf Basis von Katasterdaten und OpenStreetMap-Daten" />

    <title>ORKa.MV</title>

    <link href="/anol/libs/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="/anol/libs/ol3/ol3.css" rel="stylesheet">
    <link href="/static/css/lib/bootstrap.vertical-tabs.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/dynamic-style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="appCtrl" class="hide" ng-class="{'show': appReady}">
    <div class="navbar navbar-default header">
      <a class="navbar-brand" href="#">ORKa.MV</a>
    </div>

    <div class="sidebar" ng-class="{'show': selectedTab !== false}">
      <div class="tab-content" ng-if="printAvailable">
        <div class="tab-pane" ng-class="{'active': selectedTab==='print'}">
          <div orka-print ></div>
        </div>
        <div class="tab-pane" ng-class="{'active': selectedTab==='featurelist'}" ng-if="themesAvailable">
          <div orka-feature-list feature-layer="poi_layer" marker-layer="marker_layer">
            <div orka-feature-popup feature-layer="poi_layer"></div>
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs tabs-right sideways">
        <li ng-class="{'active': selectedTab==='print'}" ng-if="printAvailable">
          <a ng-click="selectTab('print')">Kartenausgabe</a>
        </li>
        <li ng-class="{'active': selectedTab==='featurelist'}" ng-if="themesAvailable">
          <a ng-click="selectTab('featurelist')">Kartenthemen</a>
        </li>
      </ul>
    </div>

    <div class="main-content" ng-class="{ 'fullscreen': fullscreen }">
      <div class="map-wrapper" anol-map auto-resize="height">
        <div orka-mouse-position></div>
        <div anol-scale-text></div>
        <div anol-layerswitcher>
          <hr>
          <div orka-layertree ng-if="themesAvailable"></div>
        </div>
        <div orka-layertree-legend ng-if="themesAvailable"></div>
       </div>
    </div>

    <script type="text/ng-template" id="anol/modules/scale/templates/scaletext.html">
      <div class="anol-map-scale">Maßstab 1 : {{ scale }}</div>
    </script>

    <script type="text/ng-template" id="anol/modules/layerswitcher/templates/layerswitcher.html">
      <div class="orka-layerswitcher-toggle" ng-show="showToggle">
        <span class="glyphicon" ng-class="{'glyphicon-chevron-left': collapsed, 'glyphicon-chevron-right': !collapsed}" ng-click="collapsed=!collapsed"></span>
      </div>
      <div class="orka-layerswitcher" ng-show="!collapsed">
        <div ng-if="backgroundLayers.length > 1">
          <span class="bold">Hintergrundkarte</span>
          <div ng-repeat="layer in backgroundLayers">
            <label class="no-style pointer">
              <input type="radio" ng-model="$parent.$parent.backgroundLayer" ng-value="layer">
              {{ layer.get('title') }}
            </label>
          </div>
        </div>
        <ng-transclude></ng-transclude>
      </div>
    </script>

    <!-- Remove libs when build dist -->
    <script type="text/javascript" src="/anol/libs/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/anol/libs/angular/angular-debug.js"></script>
    <script type="text/javascript" src="/anol/libs/ol3/ol3-debug.js"></script>
    <script type="text/javascript" src="/static/javascript/ui-bootstrap-tpls-0.11.2.min.js"></script>

    <script type="text/javascript" src="/build/anol.js"></script>
    <script type="text/javascript" src="/build/orka.js"></script>
    <script type="text/javascript" src="/config.js"></script>
    <script type="text/javascript">
      // TODO move to controller js
      angular.module('orkaApp').controller('appCtrl', ['$scope', '$timeout', 'MapService', 'ConfigService', function ($scope, $timeout, MapService, ConfigService) {
        $scope.selectedTab = false;
        $scope.fullscreen = true;
        $scope.printAvailable = ConfigService.config.print !== undefined;
        $scope.themesAvailable = (ConfigService.config.poi !== undefined && ConfigService.config.track !== undefined);

        $scope.selectTab = function(tab) {
          $scope.selectedTab = tab === $scope.selectedTab ? false : tab;
          $scope.fullscreen = $scope.selectedTab === false;
        };

        $scope.$watch('fullscreen', function() {
          $timeout(function() {
            MapService.getMap().updateSize();
          }, 0, false);
        });

        $scope.appReady = true;
      }]);
    </script>


    <script type="text/javascript">
      /**
       * to load config by path url is like:
       * http://localhost:7000/test/#/
       *
       * to load config by parameter url is like:
       * http://localhost:7000/?page=test/#
       */
      // TODO replace by jquery plugin or improve
      var getConfigName = function() {
        var path = [];
        $.each(window.location.pathname.split('/'), function(idx, pathComponent) {
          if(pathComponent !== '') {
            path.push(pathComponent);
          }
        });
        var byPath = path[path.length -1];

        var search = window.location.search;
        if(search[0] === '?') {
          search = search.slice(1, search.length);
        }
        if(search[search.length - 1] === '/') {
          search = search.slice(0, search.length - 1);
        }
        var params = {};
        $.each(search.split('&'), function(idx, param) {
          var p = param.split('=');
          params[p[0]] = p[1];
        });
        var byParam = params.page;

        return byParam || byPath;
      };

      var styleHeader = function(headerConfig) {
        if(headerConfig.text !== undefined) {
          $('.header a').text(headerConfig.text);
        }
        if(headerConfig.height !== undefined) {
          $.each(document.styleSheets, function(idx, styleSheet) {
            if(styleSheet.href !== null && styleSheet.href === (location.origin + '/static/css/dynamic-style.css')) {
              $.each(styleSheet.cssRules, function(_idx, rule) {
                var cssRuleName = rule.style[0];
                var splittedRule = cssRuleName.split('-');
                if(splittedRule.length > 1) {
                  cssRuleName = splittedRule[0];
                  for(var i = 1; i < splittedRule.length; i++) {
                    cssRuleName += splittedRule[i][0].toUpperCase();
                    cssRuleName += splittedRule[i].slice(1, splittedRule[i].length);
                  }
                }
                if(cssRuleName === 'paddingTop') {
                  rule.style[cssRuleName] = headerConfig.paddingTop || 0;
                } else {
                  rule.style[cssRuleName] = headerConfig.height;
                }
              });
            }
          });
        }
      };

      angular.element(document).ready(function() {
          var deferred = new $.Deferred();
          var loadConfig = function(url) {
              var head = document.getElementsByTagName('head')[0];
              var script = document.createElement('script');
              script.type = 'text/javascript';
              script.src = url;

              var callback = function() {
                deferred.resolve();
              };

              // Then bind the event to the callback function.
              // There are several events for cross browser compatibility.
              script.onreadystatechange = callback;
              script.onload = callback;

              // Fire the loading
              head.appendChild(script);
          };

          var loadNoTabMapStyle = function() {
            var head = document.getElementsByTagName('head')[0];
            var style = document.createElement('link');
            style.rel = 'stylesheet';
            style.href = '/static/css/notab-mapstyle.css';
            head.appendChild(style);
          };

          deferred.promise().then(function() {
            if(orkaAppConfig !== undefined && orkaAppConfig.header !== undefined) {
              styleHeader(orkaAppConfig.header);
            }
            if(orkaAppConfig !== undefined && !orkaAppConfig.print && !orkaAppConfig.themes) {
              loadNoTabMapStyle();
            }
            angular.bootstrap(document, ['orkaApp']);
          });

          // TODO load app without config or use default one?
          loadConfig('/static/data/' + getConfigName() + '_config.js');

      });
    </script>
  </body>
</html>
