html, body {
  width: 100%;
  height: 100%;
} 

.header {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1002;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
    height: 50px;
    padding: 0 15px;
    border-radius: 0;
}


.sidebar {
  height: 100%;
  position: fixed;
  width: 230px;
  top: 50px;
}

.main-content {
  margin-left: 235px;
}

.fullscreen {
  margin-left: 0px;
}

.map-wrapper {
  display: inline-block;
  margin-top: 50px;
  width: 100%;
  height: 500px;
}


.sidebar-toggle-box {
  float: left;
  padding-right: 15px;
  margin-top: 20px;
  background-color: red;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}
