html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'PT Sans','Verdana',sans-serif;
  color: #333333;
}

.header {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1002;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
    height: 50px;
    padding: 0 15px;
    border-radius: 0;
}


.sidebar {
  height: 100%;
  position: fixed;
  width: 230px;
  top: 50px;
}

.main-content {
  margin-left: 235px;
}

.fullscreen {
  margin-left: 0px;
}

.map-wrapper {
  display: inline-block;
  margin-top: 50px;
  width: 100%;
  height: 500px;
}


.sidebar-toggle-box {
  float: left;
  padding-right: 15px;
  margin-top: 20px;
  background-color: red;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

/* OL3 */

.ol-zoomslider {
  left: 5px;
  top: 29px;
  width: 22px;
  border-radius: 0;
  padding-top: 22px;
  padding-bottom: 22px;
}

.ol-zoomslider .ol-zoomslider-thumb {
  background-color: #000;
  opacity: 0.75;
  margin: 0;

}

.ol-zoom,
.ol-zoom:hover {
  width: 22px;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  left: 5px;
  height: 200px;

}

.ol-zoom .ol-zoom-in {
  background-color: #000;
  opacity: 0.75;
  border-radius: 5px 5px 0px 0px;
  margin: 0;
  width: 22px;
  height: 22px;
}

.ol-zoom .ol-zoom-out {
  background-color: #000;
  opacity: 0.75;
  border-radius: 0px 0px 5px 5px;
  margin: 0;
  margin-top: 200px;
  width: 22px;
  height: 22px;
}

.ol-mouse-position {
  top: auto;
  left: auto;
  bottom: 5px;
  right: 5px;
  border-radius: 5px;
  background-color: #fff;
  opacity: 0.75;
  padding: 5px;
  font-size: 13px;
}

.ol-attribution:not(.ol-collapsed) {
  top: auto;
  left: auto;
  bottom: 40px;
  right: 5px;
  background-color: #fff;
  opacity: 0.75;
  padding: 5px;
  height: auto;
  border-radius: 5px;
}

.ol-attribution ul {
  max-width: none;
}

.ol-attribution ul li div {
  font-size: 10px;
  line-height: 15px;
}

/* anol */
.anol-map-scale {
  background-color: #fff;
  opacity: 0.75;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  bottom: 5px;
  left: 5px;
  position: absolute;
}

/* orka-popup */
.orka-popup {
  background-color: #f5f5f5;
  padding: 8px;
  border-radius: 5px;
  width: 250px;
}

.orka-popup .orka-popup-container .orka-popup-close {
  color: #b4b4b4;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.orka-popup .orka-popup-container .orka-popup-title {
  font-weight: bold;
}
