<div id="search-container">
    <div class="input-group">
        <span class="glyphicon glyphicon-search input-group-addon" aria-hidden="true"></span>
        <input 
            type="text"
            autocomplete="off"
            id="search-input"
            class="form-control"
            placeholder="Suche…"
            ng-model="searchInput"
            ng-model-options='{ debounce: 250 }'
            ng-focus="showList()" />
    </div>
    
    <span class="glyphicon glyphicon-remove-circle form-control-feedback" 
        aria-hidden="true" ng-click="clearSearchInput()"></span>

    <div class="input-group search-radio-group">
        <label>
            <input 
                id="search-radio-address"
                name="search-radio"
                value="address"
                type="radio"
                ng-model="searchType"/>
            Adressen
        </label>
        <label class="search-radio right">
            <input
                id="search-radio-poi" 
                name="search-radio" 
                value="poi" 
                type="radio" 
                ng-model="searchType" />
            Themen
        </label>
        <label class="search-radio right" ng-show="hasPlusCodes">
            <input
                id="search-radio-plus-codes" 
                name="search-radio" 
                value="pluscodes" 
                type="radio" 
                ng-model="searchType" />
                Plus codes
        </label>
    </div>

    <div class="input-group search-checkbox-group">
        <label ng-if="searchType == 'address' || searchType == 'poi'">
            <input 
                id="search-checkbox"
                name="search-checkbox"
                type="checkbox"
                ng-model="searchCurrentBboxOnly"
                ng-change="searchInBBOX(searchCurrentBboxOnly)"/>
            nur im aktuellen Kartenausschnitt
        </label>
        <select
            class="change-coord-system"
            ng-change="changeCoordSystem(coordSystem)"
            ng-model="coordSystem" ng-if="searchType == 'pluscodes'">
            <option value="25833">ETRS89/UTM-33N (EPSG:25833)</option>
            <option value="4326">WGS84/Geografische Koordinaten (EPSG:4326)</option>
        </select>
    </div>

    <div id="orka-search-no-results" ng-show="showNoResultFound">
        <ul class="list-group">
            <li class="list-group-item feature orka-search-result inactive">
                Kein Ergebnis für "{{ searchInput }}" gefunden.
            </li>
        </ul>
    </div>

    <div id="orka-search-results" ng-if="showSearchResults">
        <ul class="list-group">
            <span ng-if="searchType == 'pluscodes'">
                <li ng-click=loadPlusCodeResult(resultData) 
                    ng-class="{'inactive': resultInside !== true}"
                    class="list-group-item feature orka-search-result">
                    <span ng-if="resultData.properties.level === 1">
                        {{ resultData.properties.code_level_1 }}
                    </span>
                    <span ng-if="resultData.properties.level === 2">
                        {{ resultData.properties.code_level_2 }}
                    </span>
                    <span ng-if="resultData.properties.level === 3">
                        {{ resultData.properties.code_level_3 }}
                    </span>
                    <span ng-if="resultData.properties.level === 4">
                        {{ resultData.properties.code_level_4 }}
                    </span>
                    <span ng-if="resultData.properties.level === 5">
                        {{ resultData.properties.code_level_5}}
                    </span>                  
                    <span ng-if="resultData.properties.code_regional && resultData.properties.code_regional !== 'not definable'">
                        (regional: {{resultData.properties.code_regional }})
                    </span>
                </li>
            </span>
            <span ng-if="searchType == 'address' || searchType == 'poi'">
                <li ng-repeat="item in resultData" ng-click=loadResult(item) 
                    class="list-group-item feature orka-search-result">
                    <span ng-if="searchType == 'address'">
                        <i class="fas fa-circle" 
                            title="{{ item.properties.objektgruppe }}"
                            ng-if="item.properties.objektgruppe == 'Gemeindeteil HRO'">
                        </i>
                        <i class="fas fa-road" title="Straße" ng-if="item.properties.objektgruppe == 'Straße HRO'"></i>
                        <i class="fas fa-home" title="Adresse" 
                            ng-if="item.properties.objektgruppe != 'Gemeindeteil HRO' && 
                            item.properties.objektgruppe != 'Straße HRO'"></i>
                        {{ item | title }}
                    </span>                   
                    <span ng-if="searchType == 'poi'">
                        {{ item.properties._title_ }}
                    </span>
                </li>
            </span>
        </ul>
    </div>
</div>