<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Interaktive Karte mit Informationen rund um den Alltag in Ihrem Stadtteil" />

    <title>Stadtteillotse Rostock</title>
    
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- @if node_env = 'develop' -->
      <link href="/static/libs/bootstrap/bootstrap.css" rel="stylesheet">
      <link href="/static/libs/bootstrap/bootstrap.vertical-tabs.min.css" rel="stylesheet">
      <link href="/static/libs/fontawesome/css/fontawesome.min.css" rel="stylesheet">
      <link href="/static/css/ol.css" rel="stylesheet">
      <link href="/static/css/style.css" rel="stylesheet">
      <link href="/static/css/dynamic-style.css" rel="stylesheet">
    <!-- @endif -->

    <!-- @if node_env = 'production' -->
      <link href="css/bootstrap.css" rel="stylesheet">
      <link href="css/bootstrap.vertical-tabs.min.css" rel="stylesheet">
      <link href="css/ol.css" rel="stylesheet">
      <link href="css/fontawesome.min.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      <link href="css/dynamic-style.css" rel="stylesheet">
    <!-- @endif -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="appCtrl" class="hide" ng-class="{'show': appReady}">
    <div class="navbar navbar-default navbar-static-top header" ng-show="showHeader">
      <a class="navbar-brand" href="#">Stadtteillotse Rostock</a>
      <span class="navbar-brand-subtitle">Informationen rund um den Alltag in Ihrem Stadtteil</span>
      <span id="logo-hro"></span>
    </div>
    <div class="col-md-2 col-md-offset-5">
      <div id="search-container">
        <div class="input-group">
          <span class="glyphicon glyphicon-search input-group-addon" aria-hidden="true"></span>
          <input type="text" id="search-input" class="form-control" placeholder="Suche…" ng-model="searchInput" ng-keyup="searchInputKeyup()" />
        </div>
        <span class="glyphicon glyphicon-remove-circle form-control-feedback form-control-clear" aria-hidden="true" ng-click="clearSearchInput()"></span>
        <div class="input-group search-radio-group">
          <label>
            <input id="search-radio-address" name="search-radio" value="address" type="radio" ng-model="searchType" ng-change="searchChange()" />
            Adressen
          </label>
          <label class="search-radio right">
            <input id="search-radio-poi" name="search-radio" value="poi" type="radio" ng-model="searchType" ng-change="searchChange()" />
            Themen
          </label>
        </div>
        <div class="input-group search-checkbox-group">
          <label>
            <input id="search-checkbox" name="search-checkbox" type="checkbox" ng-model="searchCurrentBboxOnly" ng-change="searchChange()" />
            nur im aktuellen Kartenausschnitt
          </label>
        </div>
        <div id="orka-search-results" ng-if="showSearchResults">
          <ul class="list-group">
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2 sidebar" ng-class="{'show': selectedTab !== false}">
      <div class="tab-content">
        <div class="tab-pane" ng-class="{'active': selectedTab==='locations'}">
          <div orka-locations show-location-feature="selectedTab==='locations'" ng-if="locationsAvailable"></div>
        </div>
        <div class="tab-pane" ng-class="{'active': selectedTab==='featurelist'}">
          <div orka-feature-list ng-if="themesAvailable">
            <div orka-feature-popup></div>
          </div>
        </div>
        <div class="tab-pane" ng-class="{'active': selectedTab==='print'}">
          <div orka-print show-print-box="selectedTab === 'print'"></div>
        </div>
      </div>
      <ul class="nav nav-tabs tabs-right sideways">
        <li ng-class="{'active': selectedTab==='locations'}" ng-show="locationsAvailable">
          <a ng-click="selectTab('locations')">Stadtteile</a>
        </li>
        <li ng-class="{'active': selectedTab==='featurelist'}" ng-show="themesAvailable">
          <a ng-click="selectTab('featurelist')">Details</a>
        </li>
        <li ng-class="{'active': selectedTab==='print'}" ng-show="printAvailable">
          <a ng-click="selectTab('print')">Druck</a>
        </li>
      </ul>
    </div>

    <div anol-map class="col-xs-6 col-xs-offset-6 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main-content" ng-class="{ 'fullscreen': fullscreen }">
        <div class="col-md-2 col-md-offset-5">
            <div orka-search></div>
        </div>
        <div anol-scale-line></div>
        <div id="imprint-link">
          <a href='/meta/datenschutz.html' target='_blank'>Datenschutz</a> |
          <a href='/meta/impressum.html' target='_blank'>Impressum</a> |
          <a href='/meta/nutzungsbedingungen.html' target='_blank'>Nutzungsbedingungen</a>
        </div>
        <div anol-layerswitcher="{{ layerswitcherStatus }}">
          <hr>
          <div orka-layertree ng-if="themesAvailable"></div>
        </div>        
        <div orka-layertree-legend="{{ legendStatus }}" ng-if="themesAvailable"></div>
    </div>

    <script type="text/javascript">
      var defaultConfigName = 'full';
    </script>

    <!-- @if node_env = 'develop' -->
      <script type="text/javascript">
        var orkaConfigPath = 'static/data/';
        var cssPath = 'static/css/';
      </script>
      <script type="text/javascript" src="/static/libs/jquery/jquery-3.4.1.min.js"></script>
      <script type="text/javascript" src="/static/libs/proj4/proj4.js"></script>
      <script type="text/javascript" src="/static/libs/proj4/proj4.defs.js"></script>

      <script type="text/javascript" src="/static/libs/angular/angular-debug.js"></script>
      <script type="text/javascript" src="/static/libs/angular/ui-bootstrap-tpls-0.11.2.min.js"></script>
      <script type="text/javascript" src="/static/libs/openlayers/ol-4.6.5-custom.min.js"></script>

      <!-- <script type="text/javascript" src="/src/anol/module.js"></script>
      <script type="text/javascript" src="/src/anol/featurepopup/module.js"></script>
      <script type="text/javascript" src="/src/anol/featurepopup/featurepopup-directive.js"></script>

      <script type="text/javascript" src="/src/anol/layerswitcher/module.js"></script>
      <script type="text/javascript" src="/src/anol/layerswitcher/layerswitcher-directive.js"></script>

      <script type="text/javascript" src="/src/anol/map/module.js"></script>
      <script type="text/javascript" src="/src/anol/map/controls-service.js"></script>
      <script type="text/javascript" src="/src/anol/map/interactions-service.js"></script>
      <script type="text/javascript" src="/src/anol/map/layers-factory.js"></script>
      <script type="text/javascript" src="/src/anol/map/layers-service.js"></script>
      <script type="text/javascript" src="/src/anol/map/map-directive.js"></script>
      <script type="text/javascript" src="/src/anol/map/map-service.js"></script>

      <script type="text/javascript" src="/src/anol/mouseposition/module.js"></script>
      <script type="text/javascript" src="/src/anol/mouseposition/mouseposition-directive.js"></script>

      <script type="text/javascript" src="/src/anol/permalink/module.js"></script>
      <script type="text/javascript" src="/src/anol/permalink/permalink-service.js"></script>
      
      <script type="text/javascript" src="/src/anol/print/module.js"></script>
      <script type="text/javascript" src="/src/anol/print/printpage-service.js"></script>

      <script type="text/javascript" src="/src/anol/scale/module.js"></script>
      <script type="text/javascript" src="/src/anol/scale/scaleline-directive.js"></script>
      <script type="text/javascript" src="/src/anol/scale/scaletext-directive.js"></script> -->

      <script type="text/javascript" src="/build/orka.js"></script>
      <script type="text/javascript" src="/src/config.js"></script>
      <script type="text/javascript" src="/src/controller.js"></script>
      <script type="text/javascript" src="/src/filters.js"></script>
      <script type="text/javascript" src="/build/orka-templates.js"></script>
      <script type="text/javascript" src="/src/init.js"></script>

    <!-- @endif -->

    <!-- @if node_env = 'production' -->
      <script type="text/javascript">
        var orkaConfigPath = 'data/';
        var cssPath = 'css/';
      </script>
      <script type="text/javascript" src="js/orka.min.js"></script>
      <script type="text/javascript" src="js/orka-templates.js"></script>
    <!-- @endif -->
    
    <!-- @if node_env = 'production' -->
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
      _paq.push(["setCookieDomain", "*.stadtteillotse-hro.de"]);
      _paq.push(["setDomains", ["*.stadtteillotse-hro.de"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//geo.sv.rostock.de/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//geo.sv.rostock.de/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
    <!-- @endif -->
  </body>
</html>
