<span class="bold">Was suchen Sie?</span>
<div class="orka-poi-container">
    <div ng-repeat="poi in pois">
        <input type="checkbox" ng-model="poi.active" ng-change="togglePoiTopic(poi)" class="pointer" />
        <span class="pointer glyphicon" ng-class="{'glyphicon-expand': !poi.showGroup, 'glyphicon-collapse-down': poi.showGroup}" ng-click="poi.showGroup = !poi.showGroup" ng-if="poi.groups"></span>
        {{ poi.title }}
        <div ng-class="{'hide': !poi.showGroup}">
            <div ng-repeat="group in poi.groups" style="margin-left: 10px;">
                <label class="no-style pointer">
                    <input type="checkbox" ng-model="group.active" ng-change="updatePois(pois)" class="pointer"/>
                    {{ group.title }}
                </label>
            </div>
        </div>
    </div>
</div>