<div class="orka-legend-toggle legend-hidden" ng-show="collapsed">
    <span class="glyphicon glyphicon-chevron-left" ng-click="collapsed=!collapsed"></span>
</div>
<div class="orka-legend" ng-show="!collapsed">
    <span class="bold">Legende</span>
    <div class="orka-legend-toggle legend-visible">
        <span class="glyphicon glyphicon-chevron-right" ng-click="collapsed=!collapsed"></span>
    </div>
    <div class="orka-poi-container">
        <div ng-repeat="poi in selectedPois">
            <img ng-src="{{ iconBaseUrl + typeMap[poi].icon }}" class="orka-poi-legend-icon"/>
            <span ng-bind-html="typeMap[poi].title | html"></span>
        </div>
    </div>
</div>